body {
  margin: 0 auto;
  width: 80%;
  background-color: #6c91c5;
  color: black;
}

* {
  list-style-type: none;
}

body > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#menu {
  background-color: #1a345a;
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
}

#logo {
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
}

#search {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
}

input,
#bouton {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

#bouton {
  background-color: #6c91c5;
}

/* Mise en forme de la carte */
#map {
  height: 180px;
  width: 260px;
}
/* FIn */

#data {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
}

/* Mise en forme du message d'erreur en cas d'absence de donnée */
#error {
  color: red;
  font-size: 1rem;
}

/* Mise en page du sous-titre : (lever du soleil, heure et jour, coucher du soleil */
#data_subtitle {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#data_subtitle_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#data_subtitle_content {
  height: 180px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
}

#data_subtitle_content2 {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#condition {
  max-width: 90%;
  margin-top: 0;
  font-size: 1rem;
}

#tmp {
  margin: 0;
  font-size: 8rem;
}

#water {
  z-index: 0;
  margin-left: 18rem;
  position: absolute;
  padding: 3rem;
  background-color: #6c91c5;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

#himidity {
  margin-left: 1.5rem;
  margin-top: 1rem;
  z-index: 10;
}

#pressure {
  padding: 1rem;
  margin-top: -6rem;
  font-size: 0.8rem;
}
/* Fin */

/* Mise en page de l'affichage des données selon le jour */
#data_content {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#fcst_day_0,
#fcst_day_1,
#fcst_day_2,
#fcst_day_3,
#fcst_day_4 {
  width: 160px;
  height: 230px;
  border: 1px solid #1a345a;
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  cursor: pointer;
}

#fcst_day_0 {
  background-color: white;
}

#tmax {
  text-align: left;
  margin-left: 30%;
}

#tmin {
  position: absolute;
  margin-left: 6rem;
  margin-top: 5.6rem;
}

#day_long {
  line-height: 1px;
}

#icon {
  width: 50px;
  height: 50px;
  margin-left: 3rem;
}

/* Mise en forme de l'affichage des détails par heure selon le jour */
#fcst_day_1_hourly_data_title, 
#fcst_day_2_hourly_data_title,
#fcst_day_3_hourly_data_title,
#fcst_day_4_hourly_data_title {
  display: none;
}

#fcst_day_0_hourly_data, #fcst_day_1_hourly_data,
#fcst_day_2_hourly_data, #fcst_day_3_hourly_data, 
#fcst_day_4_hourly_data {
  display: none;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  border: thick double #344866;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#fcst_day_0_hourly_data {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

#fcst_day_0_hourly_data > ul,
#fcst_day_1_hourly_data > ul,
#fcst_day_2_hourly_data > ul,
#fcst_day_3_hourly_data > ul,
#fcst_day_4_hourly_data > ul {
  display: grid;
  grid-template-columns: 10% 65% 20%;
  grid-template-areas: 'image hourly degree';
  text-align: left;
  border: 1px solid #344866;
  border-radius: 1rem;
  width: 220px;
  height: 80px;
}

#ICON {
  grid-area: image;
  margin-left: -2rem;
  margin-top: 1rem;
}

#hour_data, #CONDITION {
  grid-area: hourly;
  text-align: center;
}

#hour_data {
  font-size: 1.5rem;
}

#CONDITION {
  padding-top: 3rem;
  font-size: small;
}


#TMP2m, #HUMIDEX {
  grid-area: degree;
}

#HUMIDEX {
  padding-top: 3rem;
}
/* Fin */

/* Fin */