@import url('./_settings.css');

body {
  margin: 0 auto;
  max-width: 1500px;
  /* background-color: var(--main-color); */
  color: var(--black-color);
  font-family: var(--main-font);
  /* background: url(/images/CIEL.jpg) no-repeat center center fixed;
  background-size: cover; */
  background: linear-gradient(0.25turn, var(--main-color), var(--white-color), var(--sec-color));
}

body > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#menu {
  font-family: var(--sec-font);
  background-color: var(--sec-color);
  padding: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

#logo {
  color: var(--white-color);
  font-weight: bold;
  font-size: x-large;
}

#search {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
}

input, #bouton {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

/* Mise en forme du contenu par defaut */
#content {
  margin: 2rem;
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#welcome {
  text-align: center;
}

#map {
  width: 100%;
  height: 360px;
  border-radius: 5px;
}
/* FIn */

#data {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  margin-bottom: 6rem;
}

/* Mise en forme du message d'erreur en cas d'absence de donnée */
#error {
  color: var(--err-color);
  font-size: 1rem;
}
/* Fin */

/* Mise en page du sous-titre : (lever du soleil, heure et jour, coucher du soleil */
#data_subtitle {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#data_subtitle_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#data_subtitle_content {
  height: 180px;
  background-color: var(--white-color);
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
}

#data_subtitle_content2 {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#condition {
  max-width: 90%;
  margin-top: 0;
  font-size: 1rem;
}

#tmp {
  margin: 0;
  font-size: 8rem;
}

#water {
  z-index: 0;
  margin-left: 13rem;
  position: absolute;
  padding: 3rem;
  background-color: var(--main-color);
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

#himidity {
  margin-left: 1.5rem;
  margin-top: 1rem;
  z-index: 10;
}

#pressure {
  padding: 1rem;
  margin-top: -6rem;
  font-size: 0.8rem;
}
/* Fin */

/* Mise en page de l'affichage des données selon le jour */
#data_content {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#fcst_day_0,
#fcst_day_1,
#fcst_day_2,
#fcst_day_3,
#fcst_day_4 {
  background-color: var(--special-color);
  width: 160px;
  height: 230px;
  border: 1px solid var(--sec-color);
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  cursor: pointer;
}

#fcst_day_0 {
  background-color: var(--white-color);
}

#tmax {
  text-align: left;
  margin-left: 30%;
}

#tmin {
  position: absolute;
  margin-left: 6rem;
  margin-top: 5.6rem;
}

#day_long {
  line-height: 1px;
}

#icon {
  width: 50px;
  height: 50px;
  margin-left: 3rem;
}

/* Mise en forme de l'affichage des détails par heure selon le jour */
#fcst_day_1_hourly_data_title, 
#fcst_day_2_hourly_data_title,
#fcst_day_3_hourly_data_title,
#fcst_day_4_hourly_data_title {
  display: none;
}

#fcst_day_0_hourly_data, #fcst_day_1_hourly_data,
#fcst_day_2_hourly_data, #fcst_day_3_hourly_data, 
#fcst_day_4_hourly_data {
  display: none;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  border: thick double var(--bor-color);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

#fcst_day_0_hourly_data {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

#fcst_day_0_hourly_data > ul,
#fcst_day_1_hourly_data > ul,
#fcst_day_2_hourly_data > ul,
#fcst_day_3_hourly_data > ul,
#fcst_day_4_hourly_data > ul {
  display: grid;
  grid-template-columns: 10% 65% 20%;
  grid-template-areas: 'image hourly degree';
  text-align: left;
  border: 1px solid var(--bor-color);
  border-radius: 1rem;
  width: 220px;
  height: 80px;
}

#ICON {
  grid-area: image;
  margin-left: -2rem;
  margin-top: 1rem;
}

#hour_data, #CONDITION {
  grid-area: hourly;
  text-align: center;
}

#hour_data {
  font-size: 1.5rem;
}

#CONDITION {
  padding-top: 3rem;
  font-size: small;
}


#CONDITION + li, #CONDITION + li ~ li {
  grid-area: degree;
}

#CONDITION + li, #CONDITION + li ~ li {
  margin-top: -3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#CONDITION + li ~ li { 
  padding-top: 5rem;
}

#img_RH2m, #img_TMP2m {
  width: 30px;
  height: 30px;
}
/* Fin */

/* Fin */

/* Mise en forme du pied de page */
#footer {
  font-family: var(--sec-font);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--sec-color);
  color: var(--white-color);
  /* padding-bottom: 0.5rem; */
  font-size: 1rem;
}

span {
  color: var(--main-color);
  font-size: 1.5rem;
}
/* Fin */



/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
@media screen and (max-width: 780px){
  #menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #logo {
    font-size: large;
  }
  
  #search {
    gap: 1rem;
  }
  
  input {
    width: 160px;
  } 

  /* Mise en page du sous-titre : (lever du soleil, heure et jour, coucher du soleil */
  #data_subtitle {
    width: 100%;
  }

  #data_subtitle_content {
    height: 160px;
  }

  #sunrise, #sunset, #hour {
    font-size: 10px;
  }

  #condition {
    font-size: 0.7rem;
  }
  
   #tmp {
    font-size: 4rem;
  }
  
  
  #water {
    margin-left: 8rem;
  }
  
  
  #himidity {
    margin-left: -1rem;
  }
  
  /*
  #pressure {
    padding: 1rem;
    margin-top: -6rem;
    font-size: 0.8rem;
  } */
}